@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ta règle font-face peut aussi aller ici */
@font-face {
  font-family: "Morning Routine";
  src: url("../src/assets/fonts/morningRoutine.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  h1 {
    @apply font-morning text-6xl text-center mb-[10px];
  }
}

@layer base {
  h2 {
    @apply font-morning text-3xl m-4;
  }
}
